body {
	position: relative;
	padding-top: 50px;
	background-image: url("../img/bg-pattern-crossword.png");
	background-position: top left;
	background-repeat: repeat;
}

.navbar-fixed-top {
	border-bottom: 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.navbar-default .navbar-brand {
	font-family: "Dancing Script", cursive;
	font-weight: 700;
	color: #fff;
	background-color: $brand-primary;

	&:hover {
		color: #fff;
		background-color: desaturate(darken($brand-primary, 10%), 10%);
	}
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: $brand-primary;
}

.jumbotron {
	margin-bottom: 0;
}

.img-thumbnail {
	background-color: $brand-primary;
	border-color: $brand-primary;
	margin-top: 22px;
    margin-bottom: 11px;
}

.thumbnail {
	background-color: #fff;
}

.media-headshot {
	width: 107.5px;
	height: 107.5px;
}

.page-form {
	max-width: 700px;
}

@media (min-width: $screen-sm-min) {
	.navbar-nav {
		float: none;
		margin: 0;
		margin-left: auto;
		margin-right: auto;
		display: table;
	}
}